// Primary - "Orange and berry are the primary colors of the CaringBridge palette. Use these to add impact and to brand elements."
$treePoppy:         #f8971d;
$violetEggplant:    #a21984;

// Secondary - "The secondary palette consists of a strong supporting cast of seven bright, saturated hues that also evoke feelings of hope and energy. Combine them with orange and berry to create points of interest."

$downy:             #74cbc8;
$flamingo:          #f15d40;
$indigo:            #437cc8;
$keyLimePie:        #b2bb1e;
$wisteria:          #aa6dae;
$mustard:           #fede52;
$hibiscus:          #ca3162;

// Tertiary - "The range or dark and light colors in our tertiary palette are meant to compliment the primary and secondary palettes without drawing attention to themselves. Use these for neutral backgrounds, text and other subtle additions of color."

//  dark range:
$zombie:            #e8d3a2;
$squirrel:          #8d8178;
$abbey:             #545559;
$trendyGreen:       #847a18;
$bahamaBlue:        #006990;
$congressBlue:      #004990;
$clairvoyant:       #54075b;
$roofTerracotta:    #af1e26;

//  light range:
$parchment:         #ede3cc;
$pampas:            #efe9e5;
$silverSand:        #bec0c2;
$catskillWhite:     #e4edf2;
$mystic:            #d8e9e8;
$deco:              #d4db90;
$snuff:             #e0d7eb;
$cinderella:        #fcd7cb;

// Extra colors not from marketing
$alabaster:         #f7f7f7;
$sapling:           #dfd0a7;
$mineShaft:         #222222;
$vistaWhite:        #f9f3ef;
$wildSand:          #f5f5f5;

// Reassign Twitter Bootstrap colors to use brand colors
$black:             #000;
$grayDarker:        $mineShaft;
$grayDark:          $abbey;
$gray:              $squirrel;
$grayLight:         $silverSand;
$grayLighter:       $pampas;
$white:             #fff;

$blue:              $bahamaBlue;
$blueDark:          $congressBlue;
$green:             $keyLimePie;
$red:               $flamingo;
$yellow:            $mustard;
$orange:            $treePoppy;
$pink:              $hibiscus;
$purple:            $wisteria;
$slate:             $abbey;
$berry:             $violetEggplant;

// aliases!!!
$taupe:             $parchment;
$cyan:              $downy;
