$sans-serif-font: "Helvetica Neue", Arial, "Helvetica", sans-serif;
$text-color: $grayDark;
$header-color: #000;

html,
body { height: 100%; }

body {
  height: 100%;
  width: 100%;
  display: table;

  font-family: $sans-serif-font;
  font-size: 1.125em;
  line-height: 1.4em;
  color: $text-color;
}

.container {
  max-width: 40em;
  margin: 0 auto;
}

a {
  color: $indigo;

  &:hover {
    text-decoration:underline;
  }

  &:visited {
    color: $wisteria;
  }
}

//// HEADER ////

body > header {
  display: table-row;
  height: 1px;
  background-color: $flamingo;
  padding: 2em;

  h1 {
    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      &:visited {
        color: white;
      }
    }
  }
}

#content {
  display: table-row;
  height: 100%;
}

body > footer {
  display: table-row;
  height: 1px;
  background-color: $wisteria;
}
