<!doctype html>
<head>
  <meta charset="utf-8">
  <title>{{page.title}} :: {{site.title}}</title>
  <link href="/css/screen.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="container">
      <h1><a href="/">CaringBridge Engineering</a></h1>
    </div>
  </header>
  <div id="content">
    <div class="container">
      {{ content }}
    </div>
  </div>
  <footer>
    <div class="container">
      <h2>Footer</h2>
      <p>Here's our CI status:</p>
      <p>
      <a href="https://travis-ci.org/caringbridge/caringbridge.github.io"><img src="https://travis-ci.org/caringbridge/caringbridge.github.io.svg"></a>
      </p>

    </div>
  </footer>
</body>
</html>
